@import url(https://fonts.googleapis.com/css?family=Lato:300, 400, 700);

body {
  background: #485b6e;
  color: #fff;
  font-weight: 400;
  font-family: "Lato", Calibri, Arial, sans-serif;
  text-align: center;
  margin: 0;
}

.unlink {
  color: yellow;
}

p {
  margin: 30px auto;
}

.line {
  width: 75%;
  height: 1px;
  background: #fff;
  margin: 20px auto;
  box-shadow: 0 0 10px #333;
}

.name {
  padding-top: 50px;
  text-align: center;
  text-shadow: 0 0 10px #333;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6 {
  color: #fff;
  background: #ff5230;

  border: 4px solid #af361d;
  border-radius: 10px;

  text-shadow: 0 0 20px #333;
  text-align: center;

  padding: 10%;
  transition: 0.5s;
}

.box2 {
  background: #ccd1d9;
  border-color: #8f9297;
}
.box3 {
  background: #ffce54;
  border-color: #c7a13f;
}
.box4 {
  background: #a0d468;
  border-color: #668842;
}
.box5 {
  background: #00a0a0;
  border-color: #007c7c;
}
.box6 {
  background: #4040ff;
  border-color: #4a1cd1;
}

.box1:hover {
  background: #af361d; 
}
.box2:hover {
  background: #8f9297; 
}
.box3:hover {
  background: #c7a13f; 
}
.box4:hover {
  background: #668842; 
}
.box5:hover {
  background: #007c7c; 
}
.box6:hover {
  background: #4a1cd1; 
}

#skill-list {
  text-align: left;
  list-style-type: none;
  overflow: hidden;
  padding: 0;
}

#skill-list li {
  transform: translateX(-100%);
  transition: transform 0.5s, opacity 2s;
  opacity: 0;
}

#skill-list .show {
  opacity: 1;
  transform: translateX(0%);
}